<footer class="footer">
    <div class="footer__container">
        <div class="footer__top">
            <div class="footer__header block-header ">
                <h2 class="block-header__title">
                    Subscribe to get best offers.
                </h2>
                <div class="block-header__text">
                    By subscribing with your mail, you will agree with terms
                </div>
            </div>
            <form action="#" class="suscribe-form" method="post" name="suscribe">
                <input type="email" name="email" class="suscribe-form__input" placeholder="Enter your email" required>
                <button class="suscribe-form__button button button--white" type="submit">Subscribe us</button>
            </form>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-wrapper">
                <a href="#" class="footer__logo logo">
                    <img class="logo__icon" src="/src/images/icons/logo.svg" alt="logo icon">
                    <span class="logo__text">StartupLanding</span>
                </a>
                <div class="footer__copyright">
                    Copyright by 2019 YourName Inc
                </div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Home</a>
                    </li>
                    <li class="footer__menu-item ">
                        <a href="#" class="footer__menu-link">Adversite</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Supports</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Marketing</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>