<header class="header">
    <div class="header__container">
        <div class="logo">
            <img class="logo__icon" src="/src/images/icons/logo.svg" alt="logo icon">
            <span class="logo__text">StartupLanding</span>
        </div>
        <nav class="navigation" data-da=".menu-burger,992,1">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Home</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Adversite</a>
                    <ul class="navigation__submenu submenu">
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">option</a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">option</a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">option</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Supports</a>
                    <ul class="navigation__submenu submenu">
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">option</a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">option</a>
                        </li>
                        <li class="submenu__item">
                            <a href="#" class="submenu__link">option</a>
                        </li>
                    </ul>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Contact</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">About us</a>
                </li>
            </ul>
        </nav>
        <a href="#" class="button button--purple" data-da=".menu-burger,992,0">Join us now</a>
        <button class="burger-button">
            <div></div>
        </button>
    </div>
    <div class="menu-burger"></div>
</header>