@use "variables" as *;

.button {
    border-radius: 5px;
    font-weight: 500;
    padding-inline: 25px;
    padding-block: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    transition:
        background-color 0.3s ease-out,
        color 0.3s ease-out;
    &--purple {
        background-color: $secondaryColor;
        color: #ffffff;
    }
    &--transperent {
        color: $secondaryColor;
    }
    &--transperent,
    &--purple {
        font-weight: 700;
    }
    &--icon {
        flex-direction: row-reverse;
        &::before {
            font-size: 10px;
            color: inherit;
            transform: translateX(0);
            transition: transform 0.3s ease-out;
        }
    }

    &--gray {
        background-color: #edf0f2;
        color: $primaryDarkColor;
    }
    &--white {
        background-color: #ffffff;
        color: #020718;
    }
    &--gray,
    &--white {
        letter-spacing: -0.16px;
    }
    @media (any-hover: hover) {
        &--purple:hover,
        &--transperent:hover,
        &--gray:hover {
            color: $secondaryColor;
            background-color: #ffffff;
        }
        &--white:hover {
            color: #ffffff;
            background-color: $secondaryColor;
        }
        &:hover {
            &::before {
                transform: translateX(50%);
            }
        }
    }
}

.block-header {
    // .block-header__title

    &__title {
        font-size: clamp(28px, 2.4vw, 46px);
        line-height: 1.41;
        letter-spacing: -0.5px;
        &:not(:last-child) {
            margin-bottom: 22px;
        }
        .block-header--main & {
            font-size: clamp(32px, 2.5vw, 48px);
            font-weight: 700;
            line-height: 1.56;
            letter-spacing: -1.5px;
            text-wrap: balance;
        }
    }

    // .block-header__text

    &__text {
        font-size: 17px;
        color: $primaryLightColor;
        line-height: 2.05;
        .block-header--main & {
            color: inherit;
            line-height: 2.47;
        }
    }
}
.section-header {
    max-width: 530px;
    margin: 0 auto;
    // .section-header__subtitle
    &--white {
        color: #ffffff;
    }
    &__title {
        color: $secondaryColor;
        font-style: 18px;
        font-weight: 700;
        line-height: 2.22;
        text-transform: capitalize;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .section-header--white & {
            color: inherit;
        }
    }

    // .section-header__title

    &__text {
        font-size: 30px;
        font-size: clamp(20px, 2.4vw, 30px);
        line-height: 1.67;
        letter-spacing: -1.5px;
        text-align: center;
    }
}
