@use "variables" as *;
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition:
        backdrop-filter 0.4s ease-out,
        background-color 0.4s ease-out;

    &--blur {
        backdrop-filter: blur(5px);
        background-color: rgba($color: #ffffff, $alpha: 0.5);
    }
    // .header__container

    &__container {
        padding-block: clamp(10px, 1.3vw, 25px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        background-color: rgba($color: #ffffff, $alpha: 0);
        transition: background-color 0.1s ease-in-out 0.3s;

        .header._active-menu & {
            background-color: #ffffff;
            transition: background-color 0.1s ease-in-out;
        }
        .button {
            min-width: max-content;
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @media (min-width: 768px) {
        column-gap: 14px;
    }
    // .logo__icon

    &__icon {
        flex-shrink: 0;
        width: 20px;
        height: 30px;
        @media (min-width: 768px) {
            width: 27px;
            height: 37px;
        }
    }

    // .logo__text

    &__text {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 700;
        line-height: 1.2;
        color: $menuColor;
        opacity: 0.8;
        @media (min-width: 768px) {
            font-size: 20px;
        }
    }
}
.navigation {
    color: $menuColor;
    flex-grow: 1;

    @media (max-width: 991.98px) {
        overflow: hidden;
    }
    // .navigation__list

    &__list {
        display: flex;
        align-items: center;
        gap: 20px 36px;
        @media (max-width: 991.98px) {
            flex-direction: column;
            font-size: 28px;
            max-height: 100%;
            overflow-y: auto;
        }
        @media (min-width: 991.98px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    // .navigation__item

    &__item {
        position: relative;
        @media (any-hover: hover) {
            &:hover .navigation__link::after {
                transform: rotate(-90deg);
                border-top-color: $secondaryColor;
            }
            &:hover .navigation__link {
                color: $secondaryColor;
            }
            &--dropdown:hover {
                & .submenu {
                    line-height: 1.5;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
            }
        }
        @media (any-hover: none) and (pointer: coarse) {
            &:hover .navigation__link::after {
                transform: rotate(-90deg);
                border-top-color: $secondaryColor;
            }
            &:hover .navigation__link {
                color: $secondaryColor;
            }

            &--dropdown:hover {
                & .submenu {
                    line-height: 1.5;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    // .navigation__link

    &__link {
        display: flex;
        align-items: center;
        column-gap: 5px;
        .navigation__item--dropdown &::after {
            content: "";
            width: 10px;
            border-radius: 5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $menuColor;
            transition: transform 0.3s ease-out;
        }
    }

    // .navigation__submenu

    &__submenu {
        line-height: 0;
        min-width: 100%;
    }
}
.submenu {
    border-radius: 5px;
    padding-inline: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.93);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity 0.3s ease-out,
        line-height 0.4s ease-out,
        visibility 0.5s ease-out;

    // .submenu__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }

    @media (min-width: 992px) {
        position: absolute;
        top: 100%;
        left: 0;
        padding-block: 5px;
    }
}

.burger-button {
    flex-shrink: 0;
    display: flex;
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    div {
        width: 60%;
        order: 3;
        align-self: flex-end;
        transition:
            width 0.3s ease-out,
            visibility 0.1s ease-out;
    }
    &::before,
    &::after {
        content: "";
        width: 100%;
        transform-origin: center;
        transition: transform 0.4s ease-out;
    }
    &::before,
    &::after,
    div {
        height: 5px;
        border-radius: 5px;
        background-color: $secondaryColor;
    }
    ._active-menu & {
        height: 100%;
        justify-content: space-between;
        div {
            width: 0;
            visibility: hidden;
        }
        &::before {
            transform: translateY(200%) rotate(35deg);
        }
        &::after {
            transform: rotate(-35deg);
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
}
.menu-burger {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100dvh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-block-start: 75px;
    padding-block-end: 30px;
    padding-inline: 30px;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    ._active-menu & {
        transform: translateY(0);
    }
}
