@use "variables" as *;
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    // .header__container

    &__container {
        padding-block: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        .button {
            min-width: max-content;
        }
        @media (min-width: 992px) {
            padding-block: 25px;
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @media (min-width: 768px) {
        column-gap: 14px;
    }
    // .logo__icon

    &__icon {
        flex-shrink: 0;
        width: 20px;
        height: 30px;
        @media (min-width: 768px) {
            width: 27px;
            height: 37px;
        }
    }

    // .logo__text

    &__text {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 700;
        line-height: 1.2;
        color: $menuColor;
        opacity: 0.8;
        @media (min-width: 768px) {
            font-size: 20px;
        }
    }
}
.navigation {
    color: $menuColor;
    flex-grow: 1;
    // .navigation__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px 36px;
        @media (max-width: 991.98px) {
            flex-direction: column;
            font-size: 28px;
        }
    }

    // .navigation__item

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 5px;

        &:has(.submenu) {
            &::after {
                content: "";
                width: 10px;
                border-radius: 5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $menuColor;
                transition: transform 0.3s ease-out;
            }
        }
        @media (any-hover: hover) {
            &:hover::after {
                transform: rotate(-90deg);
                border-top-color: $secondaryColor;
            }
            &:hover .navigation__link {
                color: $secondaryColor;
            }
            &:hover:has(.submenu) {
                & .submenu {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    transform: translateY(0);
                }
            }
        }
    }

    // .navigation__link

    &__link {
    }

    // .navigation__submenu

    &__submenu {
    }
}
.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba($color: #ffffff, $alpha: 0.93);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-5%);
    transition:
        transform 0.3s ease-out,
        opacity 0.3s ease-out,
        visibility 0.3s ease-out;
    // .submenu__item

    &__item {
    }

    // .submenu__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }
}

.burger-button {
    flex-shrink: 0;
    display: flex;
    background-color: rgba($color: #ffffff, $alpha: 0.93);
    border-radius: 5px;
    width: 50px;
    // height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    div {
        width: 60%;
        order: 3;
        align-self: flex-end;
    }
    &::before,
    &::after {
        content: "";
        width: 100%;
    }
    &::before,
    &::after,
    div {
        height: 5px;
        border-radius: 5px;
        background-color: $secondaryColor;
    }
    @media (min-width: 992px) {
        display: none;
    }
}
.menu-burger {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100dvh;
    background-color: rgba($color: #ffffff, $alpha: 0.93);
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-block-start: 75px;
    padding-block-end: 30px;
    padding-inline: 30px;
}
