@use "variables" as *;
@use "mixins";
.hero {
    min-height: 100dvh;
    position: relative;
    display: flex;

    // .hero__container

    &__container {
        width: 100%;
        display: flex;
        align-items: center;

        position: relative;
        z-index: 1;
        @media (max-width: 991.98px) {
            justify-content: center;
        }
    }

    // .hero__background

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__background-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1920 / 1007;
        object-fit: cover;
    }

    // .hero__content

    &__content {
        max-width: 600px;
        padding-inline: 20px;
        padding-block-start: 30px;
        padding-block-end: 45px;
        background-color: rgba($color: #ffffff, $alpha: 0.93);
        @media (min-width: 992px) {
            padding-inline: 56px;
            padding-block: 50px;
            min-height: 630px;
        }
    }
    &__header {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}
.workplace-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__row {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 33px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 25px;
            background: url("/src/images/icons/location.svg") center/contain no-repeat;
        }
    }
    &__select-label {
        position: absolute;
        left: 24px;
        top: 15px;
        color: rgba($color: #02073e, $alpha: 0.4);
        font-size: 14px;
        font-weight: 500;
    }
    // .workplace-form__select

    &__select {
        width: 100%;
        min-height: 75px;
        border: 2px solid $secondaryColor;
        border-radius: 5px;
        background-color: #ffffff;
        padding-inline-start: 22px;
        padding-inline-end: 60px;
        padding-block-start: 30px;
        padding-block-end: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        appearance: none;
    }
}

.clients {
    // .clients__container

    &__container {
        padding-block: 40px;
        @media (min-width: 992px) {
            padding-block: 60px;
        }
    }

    // .clients__header

    &__header {
        max-width: 584px;
        &:not(:last-child) {
            margin-bottom: 66px;
            @media (min-width: 992px) {
                margin-bottom: 112px;
            }
        }
    }

    // .clients__list

    &__list {
        overflow: hidden;
    }
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
    @media (min-width: 992px) {
        column-gap: 90px;
    }
    // .clients-list__item

    &__item {
        height: 48px;
        display: grid;
        place-items: center;
    }

    // .clients-list__image

    &__image {
        max-height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
