@use "variables" as *;
@use "mixins";
.hero {
    min-height: 100dvh;
    position: relative;
    display: flex;

    // .hero__container

    &__container {
        width: 100%;
        display: flex;
        align-items: center;

        position: relative;
        z-index: 1;
        @media (max-width: 991.98px) {
            justify-content: center;
        }
    }

    // .hero__background

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__background-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1920 / 1007;
        object-fit: cover;
    }

    // .hero__content

    &__content {
        max-width: 600px;
        padding-inline: 20px;
        padding-block-start: 30px;
        padding-block-end: 45px;
        background-color: rgba($color: #ffffff, $alpha: 0.93);
        @media (min-width: 992px) {
            padding-inline: 56px;
            padding-block: 50px;
            min-height: 630px;
        }
    }
    &__header {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    // .hero__title

    &__title {
        font-size: clamp(36px, 2.5vw, 48px);
        font-weight: 700;
        line-height: 1.56;
        letter-spacing: -1.5px;
        text-wrap: balance;
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    // .hero__text

    &__text {
        font-size: 17px;
        line-height: 2.47;
    }

    // .hero__form

    &__form {
    }
}
.workplace-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__row {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 33px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 25px;
            background: url("/src/images/icons/location.svg") center/contain no-repeat;
        }
    }
    &__select-label {
        position: absolute;
        left: 24px;
        top: 15px;
        color: rgba($color: #02073e, $alpha: 0.4);
        font-size: 14px;
        font-weight: 500;
    }
    // .workplace-form__select

    &__select {
        width: 100%;
        min-height: 75px;
        border: 2px solid $secondaryColor;
        border-radius: 5px;
        background-color: #ffffff;
        padding-inline-start: 22px;
        padding-inline-end: 60px;
        padding-block-start: 30px;
        padding-block-end: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 2.5;
        appearance: none;
    }
}
