@use "variables" as *;
@use "mixins";
.hero {
    min-height: 100lvh;
    position: relative;
    display: flex;

    // .hero__container

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-block-start: 55px;
        padding-block-end: 20px;
        @media (max-width: 991.98px) {
            justify-content: center;
        }
        @media (min-width: 992px) {
            padding-block-start: 85px;
        }
    }

    // .hero__background

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__background-image {
        width: 100%;
        height: 100%;
        aspect-ratio: 1920 / 1007;
        object-fit: cover;
        object-position: top;
    }

    // .hero__content

    &__content {
        max-width: 600px;
        padding-inline: 20px;
        padding-block-start: 30px;
        padding-block-end: 45px;
        background-color: rgba($color: #ffffff, $alpha: 0.93);
        opacity: 0.3;
        will-change: opacity;
        transition: opacity 0.4s ease-out;
        .hero:has(._animated) & {
            opacity: 1;
        }
        @media (min-width: 992px) {
            padding-inline: 56px;
            padding-block: 50px;
            min-height: 62.38svh;
        }
    }
    &__header {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @media (min-width: 992px) {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
    &__form {
        opacity: 0;
        transform: scale(0.9);
        will-change: opacity, transform;
        transition:
            opacity 0.4s ease-out 1s,
            transform 0.6s ease-out 1s;
        .hero:has(._animated) & {
            opacity: 1;
            transform: scale(1);
        }
    }
}
.workplace-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__row {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 33px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 25px;
            background: url("/src/images/icons/location.svg") center/contain no-repeat;
        }
    }
    &__select-label {
        position: absolute;
        left: 24px;
        top: 15px;
        color: rgba($color: #02073e, $alpha: 0.4);
        font-size: 14px;
        font-weight: 500;
    }
    // .workplace-form__select

    &__select {
        width: 100%;
        border: 2px solid $secondaryColor;
        border-radius: 5px;
        background-color: #ffffff;
        padding-inline-start: 22px;
        padding-inline-end: 60px;
        padding-block-start: 30px;
        padding-block-end: 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        appearance: none;
        @media (min-width: 992px) {
            line-height: 2.5;
        }
    }
}

.clients {
    // .clients__container

    &__container {
        padding-block: 35px;
        @media (min-width: 992px) {
            padding-block: 60px;
        }
    }

    // .clients__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 35px;
            @media (min-width: 992px) {
                margin-bottom: 100px;
            }
        }
    }
    &__scroller {
        max-width: 1040px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        opacity: 0;
        will-change: opacity, transform;
        transition: opacity 0.5s ease-out 0.9s;
        .clients:has(._animated) & {
            opacity: 1;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 15%;
            height: 100%;
            z-index: 2;
        }
        &::before {
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            left: 0;
        }
        &::after {
            background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            right: 0;
        }
    }

    // .clients__list
    @keyframes running-line {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-50%));
        }
    }
}

.clients-list {
    display: inline-flex;
    align-items: center;
    padding-block: 12px;
    will-change: transform;
    animation: running-line linear forwards infinite;
    width: min-content;
    &:hover {
        animation-play-state: paused;
    }

    // .clients-list__item

    &__item {
        width: fit-content;
        height: 48px;
        display: grid;
        place-items: center;
        margin-right: 90px;
    }
    &__item[aria-hidden="true"] {
        background-color: #636879;
    }
    // .clients-list__image

    &__image {
        max-height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.offers {
    // .offers__container

    &__container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        gap: 20px 10px;
        padding-block: 35px;

        @media (min-width: 992px) {
            flex-direction: row;
            padding-block-start: 75px;
            padding-block-start: 70px;
        }
    }

    // .offers__content
    ant.advatages__title &__content {
        @media (min-width: 992px) {
            padding-inline: 14px;
        }
    }
    &__content,
    &__slider-block {
        @media (min-width: 992px) {
            flex: 1 1 675px;
            min-width: 49%;
        }
    }

    // .offers__header

    &__header {
        max-width: 485px;
        &:not(:last-child) {
            margin-bottom: 35px;
        }
        & .block-header__title {
            max-width: 440px;
        }
        @media (min-width: 992px) {
            &:not(:last-child) {
                margin-bottom: 86px;
            }
        }
    }
    &__advatages {
        opacity: 0;
        transform: translateY(30%);
        will-change: opacity, transform;
        transition:
            opacity 0.5s ease-out 0.9s,
            transform 0.5s ease-out 0.9s;
        .offers:has(._animated) & {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // .offers__slider

    &__slider-block {
        opacity: 0;
        transform: translateX(15%);
        will-change: opacity, transform;
        transition:
            opacity 0.5s ease-out 1.5s,
            transform 0.5s ease-out 1.5s;
        .offers:has(._animated) & {
            opacity: 1;
            transform: translateX(0);
        }
        @media (max-width: 991.92px) {
            min-height: 500px;
        }
    }
    &__swiper {
        &.swiper {
            width: 100%;
            height: 100%;
            margin-right: 0;
        }

        & .swiper-slide {
            display: flex;
            flex-direction: column;
            aspect-ratio: 650 / 500;
            height: auto;
            min-height: 500px;
            &:not(.swiper-slide-active) {
                transition: opacity 0.45s ease-out;
                opacity: 0;
            }
            @media (min-width: 992px) {
                padding-inline-start: 50px;
                padding-inline-end: 14px;
                aspect-ratio: 600 / 650;
                max-height: 650px;
            }
        }
        & .swiper-pagination {
            position: absolute;
            z-index: 5;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            line-height: 0;
            @media (min-width: 992px) {
                transform: translateX(calc(-50% + 36px));
            }

            .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                background-color: #ffffff;
            }
        }
        & .autoplay-progress {
            width: 310px;
            max-width: 95%;
            border-radius: 5px;
            background-color: $secondaryColor;
            color: #ffffff;
            padding-block: clamp(15px, 1.82vw, 35px);
            padding-inline: clamp(10px, 1.3vw, 25px);
            display: flex;
            column-gap: 16px;
            position: absolute;
            top: 4.9%;
            left: 0;
            z-index: 3;

            // .offer-slide__label-play

            & .progres-label__icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                & svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            & .progres-label__image {
                --progress: 0;
                stroke: #ffffff;
                fill: none;
                stroke-dashoffset: calc(147.65px * (1 - var(--progress)));
                stroke-dasharray: 147.65;
                transform: rotate(-90deg);
            }

            // .offer-slide__label-content

            & .progres-label__content {
                // line-height: 1;
                letter-spacing: -0.5px;
            }

            // .offer-slide__label-title

            & .progres-label__title {
                font-size: 18px;
                font-weight: 700;
            }

            // .offer-slide__label-location

            & .progres-label__location {
                font-weight: 500;
                opacity: 0.6;
            }
        }
    }
}

.offer-slide {
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #c4c4c4;

    // .offer-slide__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 600 / 650;
        object-fit: cover;
    }
    // .offer-slide__content
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        // opacity: 0;
        line-height: 0;
        font-size: 0;
    }
}

.advatages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    // .advatages__item

    &__item {
        flex-basis: 189px;
        flex-grow: 1;
        display: flex;
        gap: 13px;
        @media (min-width: 992px) {
            flex-direction: column;
        }
        @media (max-width: 991.98px) {
            align-items: center;
            flex-wrap: wrap;
        }
    }

    // .advatages__icon

    &__icon {
        width: 35px;
        height: 35px;
        fill: $secondaryColor;
        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    // .advatages__title

    &__title {
        font-size: 20px;
        letter-spacing: -1.5px;
        @media (max-width: 991.98px) {
            width: calc(100% - 50px);
        }
    }

    // .advatages__text

    &__text {
        color: $primaryLightColor;
    }
}
.working-space {
    // .working-space__container

    &__container {
        padding-block: 35px;
        @media (min-width: 992px) {
            padding-block-start: 70px;
            padding-block-end: 158px;
        }
    }

    // .working-space__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 30px;
            @media (min-width: 992px) {
                margin-bottom: 60px;
            }
        }
    }

    // .working-space__content

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    // .working-space__gallery

    &__gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(250px, 20.83vw);
        gap: clamp(10px, 1.56vw, 18px);
        @media (min-width: 480px) and (max-width: 991.98px) {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: clamp(250px, 20.83vw, 400px) clamp(250px, 21.21vw, 420px);
            grid-auto-flow: dense;
            & > *:is(:nth-child(6n-5), :nth-child(6n-1)) {
                grid-row: span 2;
            }
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            grid-auto-rows: clamp(300px, 20.83vw, 400px) clamp(300px, 21.21vw, 420px);
        }
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: clamp(300px, 20.83vw, 400px) 20px 50px clamp(300px, 21.21vw, 420px);
            gap: clamp(20px, 1.56vw, 30px);
            & > *:is(:nth-child(6n-4), :nth-child(6n-2)) {
                grid-row: span 3;
            }
            & > *:is(:nth-child(6n-3), :nth-child(6n-1)) {
                grid-row: span 2;
            }
            & > *:is(:nth-child(6n), :nth-child(-1n)) {
                grid-row: span 1;
            }
        }
    }
    &__gallery-item,
    &__button {
        opacity: 0;
        transform: translateY(15%);
        will-change: opacity, transform;
        transition:
            opacity 0.4s ease-out,
            transform 0.4s ease-out;
        &._animated {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__button {
        transition-delay: 0.5s;
    }
}

.working-space-card {
    border-radius: 5px;
    position: relative;
    background-color: #c4c4c4;
    overflow: hidden;
    // .working-space-card__link

    &__link {
        width: 100%;
        height: 100%;
        @media (any-hover: hover) {
            &:hover .working-space-card__image {
                transform: scale(1.02);
            }
            &:hover .working-space-card__title {
                color: $secondaryColor;
            }
        }
    }

    // .working-space-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-out;
    }

    // .working-space-card__title

    &__title {
        position: absolute;
        left: 30px;
        bottom: 19px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.67;
        letter-spacing: -0.5px;
        transition: color 0.3s ease-out;
    }
}
.pricing-plan {
    background-color: #020718;

    // .pricing-plan__container

    &__container {
        padding-block: 35px;
        @media (min-width: 992px) {
            padding-block-start: 55px;
            padding-block-end: 82px;
        }
    }

    // .pricing-plan__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 11px;
        }
    }

    // .pricing-plan__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 35px;
        @media (min-width: 992px) {
            row-gap: 60px;
        }
    }

    // .pricing-plan__toggle

    &__toggle {
        width: max-content;
        min-height: 62px;
        border-radius: 5px;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding-inline: 8px;
        padding-block: 7px;
        position: relative;
        opacity: 0;
        transform: scale(0.8);
        will-change: opacity, transform;
        transition:
            opacity 0.5s ease-out 0.9s,
            transform 0.5s ease-out 0.9s;
        &._animated {
            opacity: 1;
            transform: scale(1);
        }

        & span {
            display: inline-block;
            padding-inline: 20px;
            flex-basis: 140px;
            min-width: max-content;
            min-height: 3em;
            display: grid;
            place-content: center;
            text-transform: capitalize;
            font-weight: 500;
            letter-spacing: -0.24px;
            position: relative;
            transition: color 0.4s ease-out;
        }
        &::before {
            content: "";
            width: (calc(50% - 10px));
            min-height: calc(100% - 14px);
            border-radius: 5px;
            background-color: #ffffff;
            position: absolute;
            top: 7px;
            left: 8px;
            transition: transform 0.4s ease-out;
        }
        &:not(._checked) span:last-of-type {
            color: #ffffff;
        }
        &._checked::before {
            transform: translateX(calc(100% + 4px));
        }
        &._checked span:first-of-type {
            color: #ffffff;
        }
    }
    // .pricing-plan__options

    &__options {
        display: flex;
        justify-content: center;
        gap: 30px;
        @media (max-width: 768px) {
            flex-wrap: wrap-reverse;
        }
    }

    // .pricing-plan__card

    &__card {
        flex: 1 1 480px;
        min-width: 200px;

        @media (min-width: 768px) {
            flex-grow: 0;
        }
    }
}
.pricing-card {
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba($color: #f3f4f5, $alpha: 0.4);
    color: #ffffff;
    opacity: 0;
    transform: translateY(15%);
    will-change: opacity, transform, box-shadow, border-color;
    transition:
        box-shadow 0.3s ease-out,
        border-color 0.3s ease-out,
        opacity 0.5s ease-out,
        transform 0.5s ease-out;
    &._animated {
        opacity: 1;
        transform: translateY(0);
    }
    &--light {
        background-color: #ffffff;
        color: inherit;
    }
    &__link {
        display: flex;
        flex-direction: column;
        row-gap: 46px;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    // .pricing-card__labels

    &__labels {
        position: absolute;
        top: 0;
        left: 40px;
        max-width: calc(100% - 60px);
        transform: translateY(-50%);
        font-size: 14px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: -0.14px;
        color: #ffffff;
        background-color: $secondaryColor;
        padding-inline: 8px;
        padding-block: 2px;
        border-radius: 3px;
    }

    // .pricing-card__top

    &__top {
        padding-inline: clamp(20px, 2.08vw, 40px);
        padding-block-start: clamp(20px, 2.92vw, 56px);
        flex-grow: 1;
    }

    // .pricing-card__image

    &__image {
        width: 73px;
        aspect-ratio: 73 / 64;
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }

    // .pricing-card__title

    &__title {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: -0.55px;
        transition: color 0.3s ease-out;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    // .pricing-card__contains

    &__contains {
        line-height: 1.62;
        // max-width: 65%; /* 291/480 */
        max-width: 85%; /* 326/480 */
    }

    // .pricing-card__contains-item

    &__contains-item {
        display: flex;
        column-gap: 14px;
        &:not(:last-child) {
            margin-bottom: 21px;
        }

        &::before {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #3fdbb1;
            font-size: 10px;
            line-height: 1;
            display: grid;
            place-content: center;
            margin-top: 8px;
        }
        &--disabled {
            &::before {
                background-color: rgba($color: #ced7e1, $alpha: 0.3);
                color: $primaryDarkColor;
            }
            color: rgba($color: #ced7e1, $alpha: 0.3);
        }
    }

    // .pricing-card__bottom

    &__bottom {
        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.15);
        padding-inline: clamp(20px, 2.6vw, 50px);
        padding-block-start: clamp(20px, 1.87vw, 36px);
        padding-block-end: clamp(20px, 2.13vw, 41px);
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .pricing-card--light & {
            background-color: #f0f0f5;
        }
        &::before {
            font-size: 20px;
            .pricing-card--light & {
                color: #636879;
            }
            transform-origin: center;
            transition: transform 0.3s ease-out;
        }
    }

    // .pricing-card__price

    &__price {
        flex-grow: 1;
    }

    // .pricing-card__price-label

    &__price-label {
        line-height: 1.75;
        color: rgba($color: #ffffff, $alpha: 0.6);
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        .pricing-card--light & {
            color: #343d48;
        }
    }

    // .pricing-card__price-number

    &__price-number {
        font-size: 26px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: -0.55px;
        .pricing-card--light & {
            color: $secondaryColor;
        }
        & span {
            font-size: 22px;
        }
    }
    @media (any-hover: hover) {
        &:hover {
            border-color: $secondaryColor;
            box-shadow:
                rgba(141, 68, 139, 0.16) 0px 10px 36px 0px,
                rgba(141, 68, 139, 0.06) 0px 0px 0px 1px;
        }
        &:hover .pricing-card__title {
            color: $secondaryColor;
        }
        &:hover .pricing-card__bottom::before {
            transform: rotate(-30deg);
        }
    }
}
.reviews {
    // .reviews__container

    &__container {
        padding-block: 35px;
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 20px;
        align-items: center;

        @media (min-width: 992px) {
            flex-wrap: nowrap;
            padding-block-end: 45px;
            padding-block-start: 116px;
        }
    }

    // .reviews__image-block

    &__image-block {
        flex-grow: 1;
        aspect-ratio: 794 / 544;

        @media (min-width: 1440px) {
            margin-left: -62px;
        }
    }

    // .reviews__image-wrapper

    &__image-wrapper {
        width: 100%;
        height: 100%;
    }

    // .reviews__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    // .reviews__content

    &__content {
        flex: 0 1 600px;
        & .button {
            padding-inline: 0;
        }
    }

    // .reviews__header

    &__header {
        max-width: 485px;
        &:not(:last-child) {
            margin-bottom: 27px;
        }
        & .block-header__title {
            &:not(:last-child) {
                margin-bottom: 35px;
            }
        }
    }
    &__content-button {
        opacity: 0;
        transform: scale(0.8);
        will-change: opacity, transform;
        transition:
            opacity 0.5s ease-out 0.9s,
            transform 0.5s ease-out 0.9s;
        .reviews__content:has(._animated) & {
            opacity: 1;
            transform: scale(1);
        }
    }
}
.blog {
    // .blog__container

    &__container {
        padding-block: 35px;
        @media (min-width: 992px) {
            padding-block-start: 45px;
            padding-block-end: 154px;
        }
    }

    // .blog__header

    &__header {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @media (min-width: 992px) {
            &:not(:last-child) {
                margin-bottom: 58px;
            }
        }
    }

    // .blog__posts

    &__posts {
        display: grid;
        gap: 30px 18px;
        grid-template-columns: 1fr;
        @media (min-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        }
        @media (min-width: 1100px) {
            padding-inline: 30px;
            gap: 30px;
        }
    }
    & .post {
        opacity: 0;
        transform: translateY(15%);
        will-change: opacity, transform;
        transition:
            opacity 0.5s ease-out,
            transform 0.5s ease-out;
        &._animated {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.post {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (min-width: 992px) {
        row-gap: 25px;
    }
    // .post__image-link

    &__image-link {
        width: 100%;
        aspect-ratio: 410 / 300;
        border-radius: 5px;
        overflow: hidden;
        background-color: #c4c4c4;
        @media (any-hover: hover) {
            &:hover .post__image {
                transform: scale(1.02);
            }
        }
    }

    // .post__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-out;
    }

    // .post__content

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        @media (min-width: 992px) {
            row-gap: 20px;
        }
    }

    // .post__title

    &__title {
        flex-grow: 1;
        font-size: 20px;
        font-weight: 500;
    }

    // .post__title-link

    &__title-link {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $secondaryColor;
            }
        }
    }

    // .post__comments-info

    &__comments-info {
        color: rgba($color: $primaryLightColor, $alpha: 0.8);
        line-height: 1.63;
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4px;
        &::before {
            content: "";
            width: 25px;
            background: url("/src/images/icons/chat.svg") center/contain no-repeat;
            margin-right: 3px;
        }
    }
}
