$maxWidth: 1920;
$minWidth: 375;
$containerWidth: 1350;
$paddingContainer: 15;
$maxWidthContainer: $containerWidth + $paddingContainer * 2;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$primaryLightColor: #343d48;
$primaryDarkColor: #0f2137;
$secondaryColor: #8d448b;
$menuColor: #02073e;
